<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>在线富文本编辑器</name>
  <guid>6bab7bf2-9341-402c-80f1-27a7978c52ef</guid>
  <markup>plugins_editor</markup>
  <platform />
  <installpath>editor</installpath>
  <author>kindeditor</author>
  <version>4.1.10</version>
  <dll>FP_Editor.dll</dll>
  <adminurl />
  <indexurl />
  <icon>editor.png</icon>
  <homepage>http://kindeditor.net</homepage>
  <notes>KindEditor是一款用Javascript编写的开源在线HTML编辑器，主要用户是让用户在网站上获得可见即可得的编辑效果，开发人员可以用 KindEditor 把传统的多行文本输入框(textarea)替换为可视化的富文本输入框。</notes>
  <createdate>2015-11-23 18:21:59</createdate>
  <updatedate>2017-01-07 01:07:50</updatedate>
  <size />
</PluginConfig>