<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>曲线月份统计图</name>
  <installpath>jqchart</installpath>
  <author>方配</author>
  <version>1.2.1</version>
  <dll />
  <frontpage>http://www.fangpage.com</frontpage>
  <notes />
  <guid>ffe61ce3-7241-4f45-92d7-2ae429dd1f41</guid>
  <system>0</system>
  <createdate>2015-11-30 09:55:54</createdate>
  <updatedate>2015-11-30 09:55:54</updatedate>
</PluginConfig>