<?xml version="1.0"?>
<!--方配网站管理系统(WMS)配置文件
    方配软件技术有限公司独立开发
    有关WMS系统的详细消息，请访问方配官方网站：http://www.fangpage.com  QQ:12677206  群：17672212
-->
<configuration>
  <appSettings>
    <add key="webpath" value="/" />
    <add key="sitepath" value="exam" />
  </appSettings>
  <connectionStrings>
    <add name="dbconnstring" connectionString="4l35xhbN+4tsut7S1U+BTHbIa1wPReCnzSj/n3ZFtHCyjdEiALglOcRZHUQy1jMmg+LAw0koq0M5vmm+WSu5zE+VU8swALZs" />
    <add name="subconnstring" connectionString="Jyy1AGOTMj0I4xmBkMkhoYbQ0ezYcrLvIEadNFUUOlXe4A4O1cpIDPDyLuZYeQ1szvs/xgIg5k8=" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" defaultLanguage="c#" />
    <authorization>
      <allow users="*" />
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  注意：此节设置错误信息的显示
     "On" 始终显示自定义(友好的)信息。
     "Off" 始终显示详细的 ASP.NET 错误信息。
     "RemoteOnly" 只对不在本地 Web 服务器上运行的
    -->
    <customErrors defaultRedirect="common/error/index.aspx" mode="On">
      <error statusCode="404" redirect="common/error/404.aspx" />
    </customErrors>
    <!--  注意：此节设置站点的编码模式。-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <pages validateRequest="false" />
    <httpModules>
      <add type="FangPage.WMS.HttpModule, FangPage.WMS" name="FP_HttpModule" />
    </httpModules>
    <httpRuntime executionTimeout="360000" maxRequestLength="102400" />
    <!--.NET4.0客户端安全认证配置，注意，该配置只能在.NET4.0中使用-->
    <!--<httpRuntime requestValidationMode="2.0" executionTimeout="360000" maxRequestLength="102400"/>-->
  </system.web>
  <system.webServer>
    <modules>
      <add name="FP_HttpModule" type="FangPage.WMS.HttpModule, FangPage.WMS" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <!--站点跨域配置，注意：*代表是所有站点-->
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET"/>
        <add name="Access-Control-Allow-Headers" value="x-requested-with"/>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>-->
    <!--多个域名跨域，注意：需要安装微软URLRewrite（支持 IIS 7 以及之后的版本）-->
    <!--<rewrite>
      <outboundRules>
        <rule name="AddCrossDomain">
          <match serverVariable="RESPONSE_Access_Control_Allow_Origin" pattern=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTP_ORIGIN}" pattern="(http(s)?://((.+\.)?domain1\.com|(.+\.)?domain2\.com|(.+\.)?domain3\.com))" />
          </conditions>
          <action type="Rewrite" value="{C:0}" />
        </rule>
      </outboundRules>
    </rewrite>-->
  </system.webServer>
</configuration>