<?xml version="1.0"?>
<AppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>手机版后端程序</name>
  <guid>0d139129-40d3-40d1-aab2-68eb5d120b30</guid>
  <markup>app_wap</markup>
  <platform />
  <installpath>wap</installpath>
  <author>方配</author>
  <version>1.8.9</version>
  <adminurl />
  <indexurl />
  <icon>wap.png</icon>
  <homepage>http://www.fangpage.com</homepage>
  <notes />
  <dll>FP_Exam.Wap.WapController,FP_Exam.Wap</dll>
  <sortapps />
  <createdate>2017-07-15 00:25:40</createdate>
  <updatedate>2018/4/16 17:14:38</updatedate>
  <size>20.38 K</size>
  <width>0</width>
  <height>0</height>
</AppConfig>