<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>矣量图标字体</name>
  <guid>7700e7ab-cbd3-435b-ac02-65aecee8665e</guid>
  <markup>plugins_iconfont</markup>
  <platform />
  <installpath>iconfont</installpath>
  <author>方配</author>
  <version>1.0.0</version>
  <dll />
  <adminurl />
  <indexurl />
  <icon />
  <homepage />
  <notes />
  <createdate>2017-02-22 09:13:37</createdate>
  <updatedate>2017-02-22 09:16:30</updatedate>
  <size />
</PluginConfig>