<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>iScroll滑动插件</name>
  <guid>b422b4c0-f992-4c1d-8921-b48e70f17ac3</guid>
  <markup>plugins_iscroll</markup>
  <platform />
  <installpath>iscroll</installpath>
  <author>Matteo Spinelli</author>
  <version>4.2.5</version>
  <dll />
  <adminurl />
  <indexurl />
  <icon />
  <homepage>http://cubiq.org/iscroll-4</homepage>
  <notes>http://www.360doc.com/content/14/0724/11/16276861_396699901.shtml</notes>
  <createdate>2017-02-21 22:53:13</createdate>
  <updatedate>2017-02-21 22:55:43</updatedate>
  <size />
</PluginConfig>