<?xml version="1.0"?>
<AppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>在线课程管理</name>
  <guid>834cc76b-ad23-4a10-9624-f1cf12e87f8c</guid>
  <markup>app_course</markup>
  <platform />
  <installpath>course</installpath>
  <author>方配</author>
  <version>1.0.0</version>
  <adminurl />
  <indexurl />
  <icon />
  <homepage />
  <notes />
  <dll>FP_Course.Controller</dll>
  <sortapps />
  <createdate>2017-12-22 00:35:12</createdate>
  <updatedate>2017-12-22 00:35:12</updatedate>
  <size />
  <width>0</width>
  <height>0</height>
</AppConfig>