<?xml version="1.0"?>
<SiteConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>方配在线考试系统</name>
  <guid>6a0b99b8-8b57-403c-b6bf-70e19b73af1d</guid>
  <markup>FP_Exam</markup>
  <platform />
  <sitepath>exam</sitepath>
  <author>方配</author>
  <import />
  <dll>FP_Exam.Controller</dll>
  <urltype>1</urltype>
  <notes>官方网站：&lt;a href="http://www.fangpage.com" target="_blank"&gt;http://www.fangpage.com&lt;/a&gt;，QQ：12677206，电话：13481092810</notes>
  <version>4.6.7</version>
  <sitetitle>方配在线考试系统(FPExam)</sitetitle>
  <keywords>考试系统, 国内最好的免费在线考试系统</keywords>
  <description>方配在线考试系统是一款国内最好的免费在线考试系统。</description>
  <otherhead>&lt;meta name="generator" content="方配软件(http://www.fangpage.com)"&gt;</otherhead>
  <copyright>方配软件(FangPage.Com)</copyright>
  <homepage>http://www.fangpage.com</homepage>
  <adminurl>admin/examconfig.aspx</adminurl>
  <indexurl>index.aspx</indexurl>
  <icon>exam.png</icon>
  <autocreate>1</autocreate>
  <closed>0</closed>
  <closedreason>站点正在升级，请稍后再访问！</closedreason>
  <ipdenyaccess />
  <ipaccess />
  <createdate>2015-10-05</createdate>
  <updatedate>2017-06-16 15:35:32</updatedate>
  <size>2.66 M</size>
  <roles />
</SiteConfig>