<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>条形码和二维码插件</name>
  <guid>7cbdb171-3129-4e5c-b8b5-7e786df879bb</guid>
  <markup>plugins_code</markup>
  <platform />
  <installpath>code</installpath>
  <author>方配</author>
  <version>1.0.0</version>
  <dll>FP_Code.Controller,FP_Code</dll>
  <adminurl />
  <indexurl />
  <icon />
  <homepage />
  <notes />
  <createdate>2018-02-01 15:54:47</createdate>
  <updatedate>2018-02-01 16:51:06</updatedate>
  <size />
</PluginConfig>