<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>方配分页插件</name>
  <guid>9e4bfdc3-a06c-4bba-a1a4-8b5e2786c88b</guid>
  <markup />
  <installpath>pager</installpath>
  <author>方配</author>
  <version>1.0.0</version>
  <dll />
  <frontpage>http://www.fangpage.com</frontpage>
  <notes>提供数据分类插件调用</notes>
  <createdate>2016-02-24 18:17:21</createdate>
  <updatedate>2016-02-24 18:19:20</updatedate>
  <isinstall>0</isinstall>
</PluginConfig>