<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>进度条插件</name>
  <installpath>progressbar</installpath>
  <author>方配</author>
  <version>1.2.1</version>
  <dll />
  <frontpage />
  <notes />
  <guid>fc94498e-8236-4a3a-b551-5231206e65ec</guid>
  <system>0</system>
  <createdate>2015-11-30 09:56:05</createdate>
  <updatedate>2015-11-30 09:56:05</updatedate>
</PluginConfig>