<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>IE_PNG图片透明插件</name>
  <installpath>iepng</installpath>
  <author>方配</author>
  <version>1.0.0</version>
  <dll />
  <frontpage>http://www.fangpage.com</frontpage>
  <notes>在IE6.0之下，PNG图片无法实现透明，可以使用该插件</notes>
  <guid>af71b4d9-a526-4773-85dd-50bbe35b623d</guid>
  <system>0</system>
  <createdate>2015-11-30 11:29:56</createdate>
  <updatedate>2015-11-30 11:29:56</updatedate>
</PluginConfig>