<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>系统附件操作插件</name>
  <guid>baa01ed9-1974-4557-a74e-b59094e9d95c</guid>
  <markup>plugins_attach</markup>
  <platform />
  <installpath>attach</installpath>
  <author>方配</author>
  <version>7.1.6</version>
  <dll>FP_Attach.Controller,FP_Attach</dll>
  <adminurl />
  <indexurl />
  <icon>attach.png</icon>
  <homepage>http://www.fangpage.com</homepage>
  <notes>提供系统附件上传、下载、删除、重命名等附件操作功能。</notes>
  <createdate>2016-01-29 02:12:46</createdate>
  <updatedate>2017/6/19 20:12:28</updatedate>
  <size>3.24 K</size>
</PluginConfig>