<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>Web摄像头插件</name>
  <guid>d931d154-0774-41d4-b8c2-958a3f37d5e0</guid>
  <markup>plugins_jscam</markup>
  <platform />
  <installpath>webcam</installpath>
  <author>方配</author>
  <version>1.0.0</version>
  <dll />
  <adminurl />
  <indexurl />
  <icon />
  <homepage>https://www.xarg.org/project/jquery-webcam-plugin/</homepage>
  <notes />
  <createdate>2018-04-02 08:39:25</createdate>
  <updatedate>2018-04-02 08:48:37</updatedate>
  <size />
</PluginConfig>