<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>移动端触摸滑动插件</name>
  <guid>788b98a5-4d9d-4ae3-b8d6-d50ef7c59b33</guid>
  <markup>plugins_swiper</markup>
  <platform />
  <installpath>swiper</installpath>
  <author>swiper</author>
  <version>2.7.0</version>
  <dll />
  <adminurl />
  <indexurl />
  <icon />
  <homepage>http://www.swiper.com.cn/</homepage>
  <notes />
  <createdate>2017-02-21 22:20:59</createdate>
  <updatedate>2017-02-21 22:21:30</updatedate>
  <size />
</PluginConfig>