<?xml version="1.0"?>
<ExamConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <autotime>1</autotime>
  <showanswer>1</showanswer>
  <teststatus>1</teststatus>
  <examstatus>1</examstatus>
  <questiontype>TYPE_RADIO,TYPE_MULTIPLE,TYPE_TRUE_FALSE,TYPE_BLANK,TYPE_ANSWER,TYPE_OPERATION</questiontype>
  <testcount>80</testcount>
  <testtime>60</testtime>
</ExamConfig>