<?xml version="1.0"?>
<ExamConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <autotime>2</autotime>
  <showanswer>1</showanswer>
  <teststatus>1</teststatus>
  <questiontype>1,2,3,4,5</questiontype>
  <testcount>80</testcount>
  <testtime>60</testtime>
</ExamConfig>