<?xml version="1.0"?>
<PayConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <mchid>1536418981</mchid>
  <key>2fVtMAydPQsgiluu</key>
  <server>https://payjs.cn/api/</server>
  <notifyurl>http://localhost:8010/exampay_notify.aspx</notifyurl>
</PayConfig>