<?xml version="1.0"?>
<RegConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <regstatus>1</regstatus>
  <realname>0</realname>
  <regtype>acount</regtype>
  <email>0</email>
  <mobile>0</mobile>
  <depart>0</depart>
  <idcard>0</idcard>
  <credit>0</credit>
  <exp>0</exp>
  <ipaccess />
  <ipdenyaccess />
  <regctrl>0</regctrl>
  <regacount>1</regacount>
  <regverify>0</regverify>
  <restrict />
  <regmobile>1</regmobile>
  <accessmobile />
  <censormobile />
  <regemail>0</regemail>
  <accessemail />
  <censoremail />
</RegConfig>