<?xml version="1.0"?>
<RegConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <regstatus>1</regstatus>
  <realname>0</realname>
  <email>0</email>
  <mobile>0</mobile>
  <rules>0</rules>
  <credit>0</credit>
  <regverify>0</regverify>
  <regctrl>0</regctrl>
  <restrict />
  <ipregctrl />
  <accessemail />
  <censoremail />
</RegConfig>