<UserExtends>
  <UserExtend name="出生年月" markup="bday" type="text" typedata="" defvalue="" />
  <UserExtend name="民族" markup="nation" type="text" typedata="" defvalue="" />
  <UserExtend name="工作年限" markup="joblimit" type="text" typedata="" defvalue="" />
  <UserExtend name="毕业院校" markup="shcool" type="text" typedata="" defvalue="" />
  <UserExtend name="所学专业" markup="profession" type="text" typedata="" defvalue="" />
  <UserExtend name="工作单位" markup="company" type="text" typedata="" defvalue="" />
</UserExtends>