<ViewConfigs>
  <ViewConfig path="sites/exam/index.aspx" include="sites/exam/_iehack.aspx;sites/exam/_header.aspx;sites/exam/_footer.aspx" />
  <ViewConfig path="sites/exam/login.aspx" include="sites/exam/_iehack.aspx;sites/exam/_footer.aspx" />
  <ViewConfig path="sites/exam/admin/questionmanage.aspx" include="" />
  <ViewConfig path="sites/exam/admin/exammanage.aspx" include="" />
  <ViewConfig path="sites/exam/admin/examadd.aspx" include="sites/exam/admin/_dopost.aspx" />
  <ViewConfig path="sites/exam/admin/userexamajax.aspx" include="" />
  <ViewConfig path="sites/exam/admin/testmanage.aspx" include="" />
  <ViewConfig path="sites/exam/admin/examtopicmanage.aspx" include="" />
  <ViewConfig path="sites/wap/index.aspx" include="sites/wap/_nocache.aspx" />
  <ViewConfig path="sites/wap/examhistory.aspx" include="sites/wap/_nocache.aspx" />
  <ViewConfig path="sites/wap/examlist-2.aspx" include="sites/wap/_nocache.aspx" />
  <ViewConfig path="sites/wap/examview.aspx" include="sites/wap/_nocache.aspx" />
  <ViewConfig path="sites/wap/exam.aspx" include="sites/wap/_nocache.aspx" />
  <ViewConfig path="sites/exam/logout.aspx" include="" />
  <ViewConfig path="sites/exam/examlist-4.aspx" include="sites/exam/_iehack.aspx;sites/exam/_header.aspx;/plugins/pager/pager.aspx;sites/exam/_footer.aspx" />
  <ViewConfig path="sites/exam/examlist-2.aspx" include="sites/exam/_iehack.aspx;sites/exam/_header.aspx;/plugins/pager/pager.aspx;sites/exam/_footer.aspx" />
  <ViewConfig path="sites/exam/examview.aspx" include="" />
  <ViewConfig path="sites/exam/exam_multi.aspx" include="sites/exam/_limitkey.aspx" />
</ViewConfigs>