<ViewConfigs>
  <ViewConfig path="sites/exam/examhistory.aspx" include="sites/exam/_iehack.aspx;sites/exam/_header.aspx;/plugins/pager/pager.aspx;sites/exam/_footer.aspx" />
  <ViewConfig path="sites/exam/examresult.aspx" include="" />
  <ViewConfig path="sites/exam/examanswer.aspx" include="sites/exam/_limitkey.aspx" />
  <ViewConfig path="sites/exam/index.aspx" include="sites/exam/_iehack.aspx;sites/exam/_header.aspx;sites/exam/_footer.aspx" />
  <ViewConfig path="sites/exam/examlist.aspx" include="sites/exam/_iehack.aspx;sites/exam/_header.aspx;/plugins/pager/pager.aspx;sites/exam/_footer.aspx" />
  <ViewConfig path="sites/exam/examview.aspx" include="" />
  <ViewConfig path="sites/exam/examreport.aspx" include="sites/exam/_iehack.aspx;sites/exam/_header.aspx;sites/exam/_footer.aspx" />
  <ViewConfig path="sites/exam/admin/questionmanage.aspx" include="" />
  <ViewConfig path="sites/exam/admin/exammanage.aspx" include="" />
  <ViewConfig path="sites/exam/login.aspx" include="sites/exam/_iehack.aspx;sites/exam/_footer.aspx" />
  <ViewConfig path="sites/exam/userpwd.aspx" include="sites/exam/_iehack.aspx;sites/exam/_header.aspx;sites/exam/_footer.aspx" />
  <ViewConfig path="sites/exam/logout.aspx" include="" />
  <ViewConfig path="sites/exam/register.aspx" include="sites/exam/_iehack.aspx;sites/exam/_footer.aspx" />
  <ViewConfig path="sites/exam/forget.aspx" include="sites/exam/_iehack.aspx;sites/exam/_footer.aspx" />
  <ViewConfig path="sites/exam/incorrect.aspx" include="sites/exam/_iehack.aspx;sites/exam/_header.aspx;sites/exam/_footer.aspx" />
  <ViewConfig path="sites/exam/examnote.aspx" include="sites/exam/_iehack.aspx;sites/exam/_header.aspx;sites/exam/_footer.aspx" />
  <ViewConfig path="sites/exam/favorite.aspx" include="sites/exam/_iehack.aspx;sites/exam/_header.aspx;sites/exam/_footer.aspx" />
  <ViewConfig path="sites/exam/activationuser.aspx" include="sites/exam/_iehack.aspx;sites/exam/_footer.aspx" />
  <ViewConfig path="sites/exam/exam.aspx" include="sites/exam/_limitkey.aspx" />
  <ViewConfig path="sites/exam/exampost.aspx" include="sites/exam/_limitkey.aspx" />
  <ViewConfig path="sites/exam/exampreview.aspx" include="sites/exam/_limitkey.aspx" />
  <ViewConfig path="sites/exam/examread.aspx" include="sites/exam/_limitkey.aspx" />
  <ViewConfig path="sites/exam/examreadpost.aspx" include="" />
  <ViewConfig path="sites/exam/examsave.aspx" include="" />
  <ViewConfig path="sites/exam/favajax.aspx" include="" />
  <ViewConfig path="sites/exam/getpass.aspx" include="sites/exam/_iehack.aspx;sites/exam/_footer.aspx" />
  <ViewConfig path="sites/exam/noteajax.aspx" include="" />
  <ViewConfig path="sites/exam/profile.aspx" include="sites/exam/_iehack.aspx;sites/exam/_header.aspx;sites/exam/_footer.aspx" />
  <ViewConfig path="sites/exam/questionview.aspx" include="sites/exam/_limitkey.aspx" />
  <ViewConfig path="sites/exam/rules.aspx" include="sites/exam/_iehack.aspx;sites/exam/_footer.aspx" />
  <ViewConfig path="sites/exam/test.aspx" include="sites/exam/_limitkey.aspx" />
  <ViewConfig path="sites/exam/testpost.aspx" include="sites/exam/_limitkey.aspx" />
  <ViewConfig path="sites/exam/testview_csk.aspx" include="" />
  <ViewConfig path="sites/exam/testview_instant.aspx" include="" />
  <ViewConfig path="sites/exam/upload_photo.aspx" include="" />
  <ViewConfig path="sites/exam/admin/examadd.aspx" include="sites/exam/admin/_dopost.aspx" />
  <ViewConfig path="sites/exam/admin/examconfig.aspx" include="" />
  <ViewConfig path="sites/exam/admin/examexpmanage.aspx" include="sites/exam/admin/_dopost.aspx" />
  <ViewConfig path="sites/exam/admin/exammonitor.aspx" include="" />
  <ViewConfig path="sites/exam/admin/examresultmanage.aspx" include="" />
  <ViewConfig path="sites/exam/admin/examresultprint.aspx" include="" />
  <ViewConfig path="sites/exam/admin/examsearch.aspx" include="" />
  <ViewConfig path="sites/exam/admin/examtopicadd.aspx" include="" />
  <ViewConfig path="sites/exam/admin/examtopicajax.aspx" include="" />
  <ViewConfig path="sites/exam/admin/examtopicmanage.aspx" include="" />
  <ViewConfig path="sites/exam/admin/examtopicrandom.aspx" include="" />
  <ViewConfig path="sites/exam/admin/examtopicselect.aspx" include="" />
  <ViewConfig path="sites/exam/admin/outputpaper.aspx" include="" />
  <ViewConfig path="sites/exam/admin/questionadd.aspx" include="sites/exam/admin/_dopost.aspx" />
  <ViewConfig path="sites/exam/admin/questionajax.aspx" include="" />
  <ViewConfig path="sites/exam/admin/questionimport.aspx" include="" />
  <ViewConfig path="sites/exam/admin/questionmove.aspx" include="sites/exam/admin/_dopost.aspx" />
  <ViewConfig path="sites/exam/admin/questionselect.aspx" include="" />
  <ViewConfig path="sites/exam/admin/userexam.aspx" include="" />
  <ViewConfig path="sites/exam/admin/userexamajax.aspx" include="" />
  <ViewConfig path="sites/exam/admin/userimport.aspx" include="" />
  <ViewConfig path="sites/exam/admin/userimportajax.aspx" include="" />
  <ViewConfig path="sites/exam/admin/usersearch.aspx" include="" />
  <ViewConfig path="sites/exam/admin/userselect.aspx" include="" />
  <ViewConfig path="sites/exam/newslist.aspx" include="sites/exam/_iehack.aspx;sites/exam/_header.aspx;/plugins/pager/pager2.aspx;sites/exam/_footer.aspx" />
  <ViewConfig path="sites/exam/newsinfo.aspx" include="sites/exam/_iehack.aspx;sites/exam/_header.aspx;sites/exam/_footer.aspx" />
  <ViewConfig path="sites/app/news/newsadd.aspx" include="" />
  <ViewConfig path="sites/app/news/newsmanage.aspx" include="" />
  <ViewConfig path="sites/exam/examlist-2.aspx" include="sites/exam/_iehack.aspx;sites/exam/_header.aspx;/plugins/pager/pager.aspx;sites/exam/_footer.aspx" />
  <ViewConfig path="sites/exam/examlist-4.aspx" include="sites/exam/_iehack.aspx;sites/exam/_header.aspx;/plugins/pager/pager.aspx;sites/exam/_footer.aspx" />
  <ViewConfig path="sites/exam/getpwd.aspx" include="sites/exam/_iehack.aspx;sites/exam/_footer.aspx" />
  <ViewConfig path="sites/wap/index.aspx" include="sites/wap/_nocache.aspx" />
  <ViewConfig path="sites/wap/login.aspx" include="sites/wap/_nocache.aspx" />
  <ViewConfig path="sites/wap/profile.aspx" include="" />
  <ViewConfig path="sites/wap/register.aspx" include="" />
  <ViewConfig path="sites/wap/agreement.aspx" include="" />
  <ViewConfig path="sites/wap/getpwd.aspx" include="" />
  <ViewConfig path="sites/wap/editname.aspx" include="" />
  <ViewConfig path="sites/wap/editidentity.aspx" include="" />
  <ViewConfig path="sites/wap/editprov.aspx" include="" />
  <ViewConfig path="sites/wap/tiku.aspx" include="sites/wap/_nocache.aspx" />
  <ViewConfig path="sites/wap/tikuview.aspx" include="sites/wap/_nocache.aspx" />
  <ViewConfig path="sites/wap/start.aspx" include="" />
  <ViewConfig path="sites/wap/logout.aspx" include="" />
  <ViewConfig path="sites/exam/exam_multi.aspx" include="sites/exam/_limitkey.aspx" />
  <ViewConfig path="sites/exam/exam_single.aspx" include="sites/exam/_limitkey.aspx" />
</ViewConfigs>