<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>树型目录插件</name>
  <guid>a8a7004c-b8c3-4273-a9da-3c2d6cfb4093</guid>
  <markup>plugins_ztree</markup>
  <platform />
  <installpath>ztree</installpath>
  <author>Hunter.z</author>
  <version>3.5.15</version>
  <dll />
  <adminurl />
  <indexurl />
  <icon>ztree.png</icon>
  <homepage>http://www.ztree.me</homepage>
  <notes>zTree 是一个依靠 jQuery 实现的多功能 “树插件”。优异的性能、灵活的配置、多种功能的组合是 zTree 最大优点。</notes>
  <createdate>2015-11-23 18:22:26</createdate>
  <updatedate>2017-01-07 01:08:25</updatedate>
  <size />
</PluginConfig>