<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>日期联动选择插件</name>
  <guid>badd75c3-79e6-42bc-a4b2-e58912466063</guid>
  <markup>plugins_dateselector</markup>
  <platform />
  <installpath>dateselector</installpath>
  <author>方配</author>
  <version>1.0.0</version>
  <dll />
  <adminurl />
  <indexurl />
  <icon>dateselector.png</icon>
  <homepage>http://www.fangpage.com</homepage>
  <notes>方配开发的年月日三级联动日期选择插件，可以应用在生日等日期选择上。</notes>
  <createdate>2015-11-23 18:21:56</createdate>
  <updatedate>2017-01-07 01:07:44</updatedate>
  <size />
</PluginConfig>