<?xml version="1.0"?>
<SiteConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>方配网站后台管理系统(WMS)</name>
  <guid>beb1d254-9404-458b-b859-287776345cff</guid>
  <markup>sites_admin</markup>
  <platform>FP_WMS2</platform>
  <sitepath>admin</sitepath>
  <author>方配</author>
  <import>FangPage.WMS.Model</import>
  <dll>FangPage.WMS.Admin</dll>
  <urltype>1</urltype>
  <notes>官方网站：&lt;a href="http://www.fangpage.com" target="_blank"&gt;http://www.fangpage.com&lt;/a&gt;，QQ：12677206，Tel:13481092810</notes>
  <version>7.4.2</version>
  <sitetitle>方配在线考试系统后台管理</sitetitle>
  <keywords>方配网站后台管理系统(WMS),方配软件技术有限责任公司,FangPage.Com,方配软件,网站程序,网站源码,网站建设,网建专家,网站模板,ASPX,ASP.NET</keywords>
  <description>方配软件技术有限责任公司(www.fangpage.com)是一家从事专注于软件技术开发、软件集成的高新技术企业，我们的理念：专注 、执着、 努力、卓越，倾情为用户提供免费的软件技术和软件产品。</description>
  <otherhead>&lt;meta name="generator" content="方配软件(http://www.fangpage.com)"&gt;</otherhead>
  <copyright>方配软件(FangPage.Com)</copyright>
  <homepage>http://www.fangpage.com</homepage>
  <adminurl />
  <indexurl>index.aspx</indexurl>
  <icon />
  <autocreate>1</autocreate>
  <closed>0</closed>
  <closedreason>站点正在升级中，请稍后再访问...</closedreason>
  <ipdenyaccess />
  <ipaccess />
  <createdate>2015-11-25 02:29:02</createdate>
  <updatedate>2019-06-12 11:38:37</updatedate>
  <size>1.36 M</size>
  <roles />
</SiteConfig>