<?xml version="1.0"?>
<AppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>在线课程</name>
  <guid>0eb5ae2c-9886-458d-aaa4-99859efa465b</guid>
  <markup>app_news</markup>
  <platform />
  <installpath>news</installpath>
  <author>方配</author>
  <version>2.7.0</version>
  <adminurl />
  <indexurl>newsmanage.aspx</indexurl>
  <icon>news.png</icon>
  <homepage>http://www.fangpage.com</homepage>
  <notes />
  <dll>FP_News.dll</dll>
  <sortapps>资料管理|new|newsmanage.aspx</sortapps>
  <createdate>2016-06-20 22:27:05</createdate>
  <updatedate>2017-02-20 16:55:38</updatedate>
  <size>131.70 K</size>
  <width>0</width>
  <height>0</height>
</AppConfig>