<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>验证码插件(图片或短信)</name>
  <guid>7a9d0590-74d6-46e6-aa69-c7840f92abd4</guid>
  <markup>plugins_verify</markup>
  <platform />
  <installpath>verify</installpath>
  <author>方配</author>
  <version>1.2.1</version>
  <dll>FP_Verify.Controller,FP_Verify</dll>
  <adminurl />
  <indexurl />
  <icon>verify.png</icon>
  <homepage>http://www.fangpage.com</homepage>
  <notes>方配开发的系统验证码插件，包含图片验证码和短信验证码&lt;br /&gt;</notes>
  <createdate>2015-11-23 18:22:22</createdate>
  <updatedate>2017-05-20 21:25:32</updatedate>
  <size />
</PluginConfig>