<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>中国省市联动插件</name>
  <guid>7765f02a-93e4-4aac-a3ca-802184fcf98e</guid>
  <markup>plugins_jsaddress</markup>
  <platform />
  <installpath>jsaddress</installpath>
  <author>方配</author>
  <version>1.0.0</version>
  <dll />
  <adminurl />
  <indexurl />
  <icon />
  <homepage>http://www.fangpage.com</homepage>
  <notes>方配开发的中国国内省市区三级联动选择插件。</notes>
  <createdate>2015-11-23 18:22:10</createdate>
  <updatedate>2017-01-07 01:08:01</updatedate>
  <size />
</PluginConfig>