<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>弹出层插件</name>
  <guid>09488848-e781-4530-b45c-cec0af503ca3</guid>
  <markup>plugins_layer</markup>
  <platform />
  <installpath>layer</installpath>
  <author>贤心</author>
  <version>1.8.4</version>
  <dll />
  <adminurl />
  <indexurl />
  <icon>layer.png</icon>
  <homepage>http://sentsin.com/jquery/layer</homepage>
  <notes>layer是一款近年来口碑极佳的web弹层组件，她具备全方位的解决方案，致力于服务各水平段的开发人员，您的页面会轻松地拥有丰富友好的操作体验。&lt;br /&gt;</notes>
  <createdate>2015-11-23 18:22:14</createdate>
  <updatedate>2017-01-07 01:08:06</updatedate>
  <size />
</PluginConfig>