<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>jQuery表单插件</name>
  <installpath>jform</installpath>
  <author>Alsup</author>
  <version>3.32.0</version>
  <dll />
  <frontpage>http://malsup.com/jquery/form/</frontpage>
  <notes>jQuery Form插件是一个优秀的Ajax表单插件，可以非常容易地、无侵入地升级HTML表单以支持Ajax。jQuery Form有两个核心方法 -- ajaxForm() 和 ajaxSubmit()， 它们集合了从控制表单元素到决定如何管理提交进程的功能。</notes>
  <guid>9ab1a0d0-5493-4a47-8ea3-38d0cfccefc7</guid>
  <system>0</system>
  <createdate>2015-11-25 09:15:07</createdate>
  <updatedate>2015-11-25 09:15:07</updatedate>
</PluginConfig>