<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>Flat UI</name>
  <guid>64f5cc1e-52b9-4d3e-81ad-3b9805890d2a</guid>
  <markup>plugins_flat_ui</markup>
  <platform />
  <installpath>flat_ui</installpath>
  <author>方配</author>
  <version>1.0.0</version>
  <dll />
  <adminurl />
  <indexurl />
  <icon />
  <homepage>http://designmodo.github.io/Flat-UI/#</homepage>
  <notes />
  <createdate>2017-10-26 18:20:17</createdate>
  <updatedate>2017-10-26 18:20:17</updatedate>
  <size />
</PluginConfig>