<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>SWF上传插件</name>
  <author>Constructor</author>
  <companyurl></companyurl>
  <version>2.0</version>
  <helpurl></helpurl>
  <notes>系统插件勿删</notes>
</PluginConfig>