<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>代码编辑器插件</name>
  <guid>e522547c-f681-4c55-aee3-238a11c5b0e4</guid>
  <markup>plugins_codemirror</markup>
  <platform />
  <installpath>codemirror</installpath>
  <author>codemirror</author>
  <version>4.0.0</version>
  <dll />
  <adminurl />
  <indexurl />
  <icon>codemirror.png</icon>
  <homepage>http://codemirror.net</homepage>
  <notes>CodeMirror 是一款“Online Source Editor”，基于Javascript，短小精悍，实时在线代码高亮显示，他不是某个富文本编辑器的附属产品，他是许多大名鼎鼎的在线代码编辑器的基础库。</notes>
  <createdate>2015-11-23 18:21:49</createdate>
  <updatedate>2017-01-07 01:07:38</updatedate>
  <size />
</PluginConfig>