<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>美化滚动条插件</name>
  <guid>1da232ae-d9cc-4961-8183-90692c780e2e</guid>
  <markup>plugins_nicescroll</markup>
  <platform />
  <installpath>nicescroll</installpath>
  <author>InuYaksa</author>
  <version>3.5.0</version>
  <dll />
  <adminurl />
  <indexurl />
  <icon>nicescroll.png</icon>
  <homepage>https://github.com/inuyaksa/jquery.nicescroll</homepage>
  <notes>jquery.nicescroll是一个非常时尚的滚动条，用来美化，兼容所有的浏览器。</notes>
  <createdate>2015-11-23 18:22:18</createdate>
  <updatedate>2017-01-07 01:08:12</updatedate>
  <size />
</PluginConfig>