<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>弹窗插件</name>
  <installpath>popup</installpath>
  <author>方配</author>
  <version>1.0.0</version>
  <dll />
  <frontpage>http://www.fangpage.com</frontpage>
  <notes />
  <guid>16ba655e-089e-43ca-9ff1-a00aba98ee20</guid>
  <system>0</system>
  <createdate>2015-11-30 11:06:22</createdate>
  <updatedate>2015-11-30 11:06:22</updatedate>
</PluginConfig>