<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>My97日期时间插件</name>
  <guid>c5409002-51ec-4d49-bc87-5b4aa8750257</guid>
  <markup>plugins_datepicker</markup>
  <platform />
  <installpath>datepicker</installpath>
  <author>My97</author>
  <version>4.8.0</version>
  <dll />
  <adminurl />
  <indexurl />
  <icon>datepicker.png</icon>
  <homepage>http://dp.my97.net/</homepage>
  <notes>My97DatePicker是一款非常灵活好用的日期控件。</notes>
  <createdate>2015-11-23 18:12:56</createdate>
  <updatedate>2017-04-26 23:39:05</updatedate>
  <size />
</PluginConfig>