<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>jQuery UI插件</name>
  <installpath>jquery-ui</installpath>
  <author>jQuery Foundation</author>
  <version>1.9.0</version>
  <dll />
  <frontpage>http://jqueryui.com</frontpage>
  <notes>jQuery UI 是以 jQuery 为基础的开源 JavaScript 网页用户界面代码库。包含底层用户交互、动画、特效和可更换主题的可视控件。我们可以直接用它来构建具有很好交互性的web应用程序。</notes>
  <guid>1ad94af0-5ef7-4a1e-a2ec-11630d784820</guid>
  <system>0</system>
  <createdate>2015-11-25 09:15:22</createdate>
  <updatedate>2015-11-25 09:15:22</updatedate>
</PluginConfig>